@-moz-document regexp("^https?://((gist|guides|help|raw|status|developer)\.)?github\.com((?!generated_pages\/preview).)*$"), domain("githubusercontent.com") {
  /*! Github Dark Theme v1.16.16 (2016-12-21) *//*
 * https://github.com/StylishThemes/GitHub-Dark
 * http://userstyles.org/styles/37035
 * License: https://creativecommons.org/licenses/by-sa/4.0/
 */
  /* AGENT_SHEET */
  /* custom code font */
 pre, code, tt, kbd:not(.badmono), pre, samp, .blob-code, .file-data pre,
  .line-data, #gist-form .file .input textarea, .blob-code-inner {
    font-family: "Source Code Pro", Source Code Pro, Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  }

  .blame .blob-num, .blame-blob-num,
  .collection-card, .team-grid .team, .blob-num-hunk, .blob-code-hunk,
  .blob-code-expandable, .code-list .divider .blob-num,
  .code-list .divider .blob-code, .blob-num-expandable,
  .expandable-line-num .diff-expander:hover, .select-menu-filters,
  .select-menu-modal, .pagination a, .blob-num[colspan], .build-status-item,
  .more-branches, .plan-choice.open, .uploaded-files>li.delete,
  .more-repos, .billing-per-seat-callout:after {
    background: #1c1c1c !important;
  }
  /* Line Numbers */
  .blob-num {
    color: #7b7b7b !important;
  }
  .blame-commit-info {
    background: #ffffff !important;
  }
  .CodeMirror-lines, .markdown-body pre code {
    background: #2b303b !important;
  }
  /* diff */
 /* Green text */
  .text-open, a.text-open, .text-success, a.text-success, .insertions,
  .open.mini-icon, .open.mega-octicon, .open.octicon, .cadd, .gi .diff-line-num,
  .authors-and-code .insertions, span.diffstat .diffstat-bar.diff-added,
  span.diffstat .diffstat-bar i.plus,
  #toc .octicon-diff-added,
  .setup-info-module .features-list .octicon, .setup-form-container .secure,
  .highlight .gi, .type-icon-state-open, a.type-icon-state-open, .text-green,
  a.text-green {
    color: #6cc644 !important;
  }
  /* bright green background */
  .block-diff-added, .text-diff-added .block-diff-neutral {
    background: #6cc644 !important;
  }
  .block-diff-deleted, .text-diff-deleted .block-diff-neutral {
    background: #b22 !important;
  }

  /* diff highlighting (no syntax highlight) */
  /* main diff text color */
  .diff-line-pre {
    color: #ccc !important;
  }
  .diff-table .line-comments {
    border-top: 1px solid #333 !important;
    border-bottom: 1px solid #333 !important;
  }
  #header-wrapper, .menu li + li {
    border-bottom: 1px solid #333 !important;
  }
  .js-release-form .drag-and-drop {
    border-top: none !important;
  }
  /* light grey - breaks in diff (with line numbers) */
  .highlight .expandable-line-num, .highlight .diff-line-num-hunk,
  .highlight .diff-line-code-hunk, .highlight .expandable-line-code {
    background: #222 !important;
    color: #888 !important;
  }
  /* git diff line additions (dark green) */
  .blob-code.blob-code-addition, .blob-num.blob-num-addition,
  .prose-diff .changed ins, .prose-diff .changed ins code,
  .prose-diff .changed ins pre, .prose-diff .changed .added,
  .prose-diff > .markdown-body ins pre, .prose-diff > .markdown-body ins code,
  .prose-diff > .markdown-body ins > div, .prose-diff > .markdown-body ins > p {
    background: #002800 !important;
    border-color: #060 !important;
  }
  /* git diff line deletions (dark red) */
  .blob-code.blob-code-deletion, .blob-num.blob-num-deletion,
  .prose-diff > .markdown-body .changed del,
  .prose-diff > .markdown-body .changed del pre,
  .prose-diff > .markdown-body .changed del code,
  .prose-diff > .markdown-body .changed del > div,
  .prose-diff > .markdown-body .changed .removed,
  .prose-diff > .markdown-body .changed .removed pre,
  .prose-diff > .markdown-body .changed .removed code,
  .prose-diff > .markdown-body .changed .removed > div {
    background: #380000 !important;
    border-color: #600 !important;
  }
  /* code and diff line selection */
  pre div[style^="background-color: rgb(248, 238, 199)"],
  .highlight td[style^="background-color: rgb(248, 238, 199)"],
  td.selected-line.blob-num, td.selected-line.blob-code {
    background: rgba(85, 85, 85, .3) !important;
    border-color: rgba(85, 85, 85, .3) !important;
  }
  /* hover highlight in code and diffs */
  .diff-table tr:hover > pre,
  .highlight:not(.lines) tr:not(.inline-comments):hover td:not(.line-age):not([style^="background-color: rgb(248, 238, 199)"]) {
    background: rgba(78, 78, 78, .33) !important;
  }
  .highlight:not(.lines) tr:not(.inline-comments):hover td.blob-num-addition:not(.line-age),
  .highlight:not(.lines) tr:not(.inline-comments):hover td.blob-code-addition:not(.line-age) {
    background: #103810 !important;
  }
  .highlight:not(.lines) tr:not(.inline-comments):hover td.blob-num-deletion:not(.line-age),
  .highlight:not(.lines) tr:not(.inline-comments):hover td.blob-code-deletion:not(.line-age) {
    background: #481010 !important;
  }
  .highlight:not(.lines) tr:not(.inline-comments):hover td.selected-line.blob-num:not(.line-age),
  .highlight:not(.lines) tr:not(.inline-comments):hover td.selected-line.blob-code:not(.line-age),
  .highlight tr:not(.inline-comments):hover td[style^="background-color: rgb(248, 238, 199)"] {
    background: rgba(128, 128, 128, .4) !important;
  }
  .prose-diff > .markdown-body th.changed,
  .prose-diff > .markdown-body td.changed {
    background: #282818 !important;
  }
  .blob-code-addition .x, .highlight .blob-code-addition .x {
    background: #252 !important;
    color: #eee !important;
  }
  .blob-code-deletion .x, .highlight .blob-code-deletion .x {
    background: #622 !important;
    color: #eee !important;
  }
  /* git diff line numbers (med green) */
  .gi .diff-line-num, .gi .diff-line-code, .gi .diff-line-pre {
    background: #020 !important;
    border-color: #040 !important;
  }
  /* git diff line deletions (med red) */
  .gd .diff-line-num, .highlight .err, .gd .diff-line-code, .gd .diff-line-pre {
    background: #300 !important;
    border-color: #500 !important;
  }

  /* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
  .pl-mi1 {
    color: #55a532 !important;
    background: #020 !important;
  }
  /* markup.inserted */
  .pl-mdht {
    color: #55a532 !important;
    background: #020 !important;
  }
  /* meta.diff.header.to-file */
  .pl-md {
    color: #bd2c00 !important;
    background: #200 !important;
  }
  /* markup.deleted */
  .pl-mdhf {
    color: #bd2c00 !important;
    background: #200 !important;
  }
  /* meta.diff.header.from-file */
  .pl-mdr {
    color: #cf6a4c !important;
    font-weight: normal !important;
  }
  /* meta.diff.range */
  .pl-mdh {
    color: #7587a6 !important;
    font-weight: normal !important;
  }
  /* meta.diff.header */
  .pl-mdi {
    color: #7587a6 !important;
    font-weight: normal !important;
  }
  /* meta.diff.index */
  /* TODO: Fix unstyled classes below */
  .pl-ib {
    background-color: #f93 !important;
  }

  /* Background for files */
  .file {
    background: #2b303b !important;
  }
  /*[[code-wrap]]*/
  /* inline code - single lines */
  .markdown-body code, .markdown-body tt, .protip code, .content dl code,
  .content ul code, p code, .content .sectionbody .dlist dt, .content p > tt,
  .content .sectionbody .dlist dt, .content p > tt, .commit-sha,
  .commit-preview .message pre, .rendered_html pre, .rendered_html code,
  .markdown-format p > code, .markdown-format pre {
    background: #e7e7e7 !important;
  }
  /* inline code - big blocks */
  .markdown-format pre, .markdown-body pre, .markdown-format .highlight pre,
  .markdown-body .highlight pre, body.blog pre, #facebox pre, .blob-expanded,
  .terminal, .copyable-terminal, #notebook .input_area, .blob-code-context,
  .markdown-format code, body.blog pre > code, .api pre, .api code,
  .hook-delivery-details pre,
  /*[[syntax-theme]]*/
  /* grunt build - remove to end of file */
  /* Syntax Theme - Twilight */
  .highlight,
  .CodeMirror {
    background: #ebebeb !important;
    color: #333 !important;
  }
  .blob-code, .blob-code-inner {
    color: #333 !important;
  }
  .pl-c, .pl-c span {
    color: #a0a59f !important;
    font-style: italic !important;
  }
  /* comment */
  .pl-c1 {
    color: #3095b3 !important;
  }
  /* constant */
  .pl-cce {
    color: #3095b3 !important;
    font-weight: normal !important;
  }
  /* constant.character.escape */
  .pl-cn {
    color: #3095b3 !important;
  }
  /* constant.numeric */
  .pl-coc {
    color: #3095b3 !important;
  }
  /* constant.other.color */
  .pl-cos {
    color: #706295 !important;
  }
  /* constant.other.symbol */
  .pl-e {
    color: #5377a4 !important;
  }
  /* entity */
  .pl-ef {
    color: #5377a4 !important;
  }
  /* entity.function */
  .pl-en {
    color: #5377a4 !important;
  }
  /* entity.name */
  .pl-enc {
    color: #3095b3 !important;
  }
  /* entity.name.class */
  .pl-enf {
    color: #5377a4 !important;
  }
  /* entity.name.function */
  .pl-enm {
    color: #5377a4 !important;
  }
  /* entity.name.method-name */
  .pl-ens {
    color: #3095b3 !important;
  }
  /* entity.name.section */
  .pl-ent {
    color: #325796 !important;
  }
  /* entity.name.tag */
  .pl-entc {
    color: #5377a4 !important;
  }
  /* entity.name.type.class */
  .pl-enti {
    color: #5377a4 !important;
    font-weight: bold !important;
  }
  /* entity.name.type.instance */
  .pl-entm {
    color: #8a7859 !important;
  }
  /* entity.name.type.module */
  .pl-eoa {
    color: #325796 !important;
  }
  /* entity.other.attribute-name */
  .pl-eoac {
    color: #8a7859 !important;
  }
  /* entity.other.attribute-name.class */
  .pl-eoac .pl-pde {
    color: #8a7859 !important;
  }
  /* punctuation.definition.entity */
  .pl-eoai {
    color: #325796 !important;
  }
  /* entity.other.attribute-name.id */
  .pl-eoai .pl-pde {
    color: #325796 !important;
  }
  /* punctuation.definition.entity */
  .pl-eoi {
    color: #5377a4 !important;
  }
  /* entity.other.inherited-class */
  .pl-k {
    color: #325796 !important;
  }
  /* keyword */
  .pl-ko {
    color: #325796 !important;
  }
  /* keyword.operator */
  .pl-kolp {
    color: #325796 !important;
  }
  /* keyword.operator.logical.python */
  .pl-kos {
    color: #3095b3 !important;
  }
  /* keyword.other.special-method */
  .pl-kou {
    color: #3095b3 !important;
  }
  /* keyword.other.unit */
  .pl-mai .pl-sf {
    color: #8a7859 !important;
  }
  /* support.function */
  .pl-mb {
    color: #706295 !important;
    font-weight: bold !important;
  }
  /* markup.bold */
  .pl-mc {
    color: #325796 !important;
  }
  /* markup.changed */
  .pl-mh {
    color: #3095b3 !important;
    font-weight: normal !important;
  }
  /* markup.heading */
  .pl-mh .pl-pdh {
    color: #3095b3 !important;
  }
  /* markup.heading punctuation.definition.heading */
  .pl-mi {
    color: #325796 !important;
    font-style: italic !important;
  }
  /* markup.italic */
  .pl-ml {
    color: #706295 !important;
  }
  /* markup.list */
  .pl-mm {
    color: #8a7859 !important;
  }
  /* meta.module-reference */
  .pl-mp {
    color: #3a508a !important;
  }
  /* meta.property-name */
  .pl-mp1 .pl-sf {
    color: #252f7a !important;
  }
  /* meta.property-value support.function */
  .pl-mq {
    color: #3095b3 !important;
  }
  /* markup.quote */
  .pl-mr {
    color: #325796 !important;
  }
  /* meta.require */
  .pl-ms {
    color: #325796 !important;
  }
  /* meta.selector */
  .pl-pdb {
    color: #706295 !important;
    font-weight: bold !important;
  }
  /* punctuation.definition.bold */
  .pl-pdc {
    color: #a0a59f !important;
    font-style: italic !important;
  }
  /* punctuation.definition.comment */
  .pl-pdc1 {
    color: #3095b3 !important;
  }
  /* punctuation.definition.constant */
  .pl-pde {
    color: #3095b3 !important;
  }
  /* punctuation.definition.entity */
  .pl-pdi {
    color: #325796 !important;
    font-style: italic !important;
  }
  /* punctuation.definition.italic */
  .pl-pds {
    color: #706295 !important;
  }
  /* punctuation.definition.string */
  .pl-pdv {
    color: #8a7859 !important;
  }
  /* punctuation.definition.variable */
  .pl-pse {
    color: #3095b3 !important;
  }
  /* punctuation.section.embedded */
  .pl-pse .pl-s2 {
    color: #3095b3 !important;
  }
  /* punctuation.section.embedded source */
  .pl-s {
    color: #061167 !important;
  }
  /* storage */
  .pl-s1 {
    color: #706295 !important;
  }
  /* string */
  .pl-s2 {
    color: #333 !important;
  }
  /* source */
  .pl-mp .pl-s3 {
    color: #325796 !important;
  }
  /* support */
  .pl-s3 {
    color: #252f7a !important;
  }
  /* support */
  .pl-sc {
    color: #252f7a !important;
  }
  /* support.class */
  .pl-scp {
    color: #3095b3 !important;
  }
  /* support.constant.property-value */
  .pl-sf {
    color: #252f7a !important;
  }
  /* support.function */
  .pl-smc {
    color: #5377a4 !important;
  }
  /* storage.modifier.c */
  .pl-smi {
    color: #333 !important;
  }
  /* storage.modifier.import */
  .pl-smp {
    color: #333 !important;
  }
  /* storage.modifier.package */
  .pl-sok {
    color: #325796 !important;
  }
  /* support.other.keyword */
  .pl-sol {
    color: #706295 !important;
  }
  /* string.other.link */
  .pl-som {
    color: #8a7859 !important;
  }
  /* support.other.module */
  .pl-sr {
    color: #8a7859 !important;
  }
  /* string.regexp */
  .pl-sra {
    color: #325796 !important;
  }
  /* string.regexp string.regexp.arbitrary-repetition */
  .pl-src {
    color: #325796 !important;
  }
  /* string.regexp.character-class */
  .pl-sre {
    color: #325796 !important;
  }
  /* string.regexp source.ruby.embedded */
  .pl-st {
    color: #325796 !important;
  }
  /* support.type */
  .pl-stj {
    color: #8a7859 !important;
  }
  /* storage.type.java */
  .pl-stp {
    color: #647a62 !important;
  }
  /* support.type.property-name */
  .pl-sv {
    color: #647a62 !important;
  }
  /* support.variable */
  .pl-v {
    color: #647a62 !important;
  }
  /* variable */
  .pl-vi {
    color: #3095b3 !important;
  }
  /* variable.interpolation */
  .pl-vo {
    color: #5377a4 !important;
  }
  /* variable.other */
  .pl-vpf {
    color: #8a7859 !important;
  }
  /* variable.parameter.function */
  /* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
  .pl-mi1 {
    color: #aa5acd !important;
    background: #fdf !important;
  }
  /* markup.inserted */
  .pl-mdht {
    color: #aa5acd !important;
    background: #fdf !important;
  }
  /* meta.diff.header.to-file */
  .pl-md {
    color: #42d3ff !important;
    background: #dff !important;
  }
  /* markup.deleted */
  .pl-mdhf {
    color: #42d3ff !important;
    background: #dff !important;
  }
  /* meta.diff.header.from-file */
  .pl-mdr {
    color: #3095b3 !important;
    font-weight: normal !important;
  }
  /* meta.diff.range */
  .pl-mdh {
    color: #8a7859 !important;
    font-weight: normal !important;
  }
  /* meta.diff.header */
  .pl-mdi {
    color: #8a7859 !important;
    font-weight: normal !important;
  }
  /* meta.diff.index */
  /* TODO: Fix unstyled classes below */
  .pl-ib {
    background-color: #06c !important;
  }
  /* invalid.broken */
  .pl-id {
    background-color: #5ceaea !important;
    color: #000 !important;
  }
  /* invalid.deprecated */
  .pl-ii {
    background-color: #20afff !important;
    color: #000 !important;
  }
  /* invalid.illegal */
  .pl-iu {
    background-color: #4b484b !important;
  }
  /* invalid.unimplemented */
  .pl-mo {
    color: #696769 !important;
  }
  /* meta.output */
  .pl-mri {
    color: #ff7f7f !important;
  }
  /* markup.raw.inline */
  .pl-ms1 {
    background-color: #0a0a0a !important;
  }
  /* meta.separator */
  .pl-va {
    color: #ff7f7f !important;
  }
  /* variable.assignment */
  .pl-vpu {
    color: #ff7f7f !important;
  }
  /* variable.parameter.url */
  .pl-entl {
    color: #333 !important;
  }
  /* entity.name.tag.label */
  /* CodeMirror theme */
  /* based on https://github.com/codemirror/CodeMirror/blob/master/theme/twilight.css */
  .CodeMirror-gutters {
    background: #ddd !important;
    border-right: 1px solid #b7b7b7 !important;
  }
  .CodeMirror-guttermarker {
    color: white !important;
  }
  .CodeMirror-guttermarker-subtle {
    color: #555 !important;
  }
  .CodeMirror-linenumber {
    color: #555 !important;
  }
  .CodeMirror-cursor {
    border-left: 1px solid white !important;
  }
  .CodeMirror-activeline-background {
    background: #d8d7d1 !important;
  }
  .CodeMirror-matchingbracket {
    outline: 1px solid grey !important;
    color: white !important;
  }
  .cm-keyword {
    color: #061167 !important;
  }
  .cm-atom {
    color: #03f !important;
  }
  .cm-number {
    color: #3587be !important;
  }
  .cm-def {
    color: #725931 !important;
  }
  .cm-variable-2, span.cm-tag {
    color: #9f8c6d !important;
  }
  .cm-variable-3, span.cm-def {
    color: #9f8c6d !important;
  }
  .cm-operator {
    color: #325796 !important;
  }
  .cm-comment {
    color: #888 !important;
    font-style: italic !important;
    font-weight: normal !important;
  }
  .cm-string {
    color: #706295 !important;
  }
  .cm-string-2 {
    color: #4294e7 !important;
  }
  .cm-meta {
    background-color: #ebebeb !important;
    color: #080808 !important;
  }
  .cm-builtin {
    color: #325796 !important;
  }
  .cm-tag {
    color: #6689bc !important;
  }
  .cm-attribute {
    color: #294492 !important;
  }
  .cm-header {
    color: #009bff !important;
  }
  .cm-hr {
    color: #515151 !important;
  }
  .cm-link {
    color: #526c9e !important;
    font-style: italic !important;
    text-decoration: none !important;
  }
  .cm-error {
    border-bottom: 1px solid red !important;
  }
  /* Jupyter Notebooks *//*! Twilight; https://gist.github.com/dansimpson/803005 */
  #notebook .highlight table {
    background: #ebebeb !important;
    color: #333 !important;
  }
  .highlight .hll {
    background-color: #003 !important;
  }
  .highlight .c {
    color: #a0a59f !important;
    font-style: italic !important;
  }
  /* Comment */
  .highlight .err {
    border: #4ddae7 !important;
  }
  /* Error */
  .highlight .k {
    color: #325796 !important;
  }
  /* Keyword */
  .highlight .cm {
    color: #a0a59f !important;
    font-style: italic !important;
  }
  /* Comment.Multiline */
  .highlight .cp {
    color: #a0a59f !important;
  }
  /* Comment.Preproc */
  .highlight .c1 {
    color: #a0a59f !important;
    font-style: italic !important;
  }
  /* Comment.Single */
  .highlight .cs {
    color: #a0a59f !important;
    font-style: italic !important;
  }
  /* Comment.Special */
  .highlight .gd {
    background: #bdf1f6 !important;
  }
  /* Generic.Deleted */
  .highlight .ge {
    font-style: italic !important;
  }
  /* Generic.Emph */
  .highlight .gr {
    background: #4ddae7 !important;
  }
  /* Generic.Error */
  .highlight .gh {
    color: #ffff7f !important;
    font-weight: bold !important;
  }
  /* Generic.Heading */
  .highlight .gi {
    background: #dac4dd !important;
  }
  /* Generic.Inserted */
  .highlight .go {
  }
  /* Generic.Output */
  .highlight .gp {
    font-weight: bold !important;
  }
  /* Generic.Prompt */
  .highlight .gs {
    font-weight: bold !important;
  }
  /* Generic.Strong */
  .highlight .gu {
    color: #7fff7f !important;
    font-weight: bold !important;
  }
  /* Generic.Subheading */
  .highlight .gt {
  }
  /* Generic.Traceback */
  .highlight .kc {
  }
  /* Keyword.Constant */
  .highlight .kd {
    color: #162070 !important;
  }
  /* Keyword.Declaration */
  .highlight .kn {
  }
  /* Keyword.Namespace */
  .highlight .kp {
    color: #648fc0 !important;
  }
  /* Keyword.Pseudo */
  .highlight .kr {
  }
  /* Keyword.Reserved */
  .highlight .kt {
  }
  /* Keyword.Type */
  .highlight .m {
  }
  /* Literal.Number */
  .highlight .s {
  }
  /* Literal.String */
  .highlight .na {
    color: #061167 !important;
  }
  /* Name.Attribute */
  .highlight .nb {
    color: #325796 !important;
  }
  /* Name.Builtin */
  .highlight .nc {
    color: #647a62 !important;
    font-weight: bold !important;
  }
  /* Name.Class */
  .highlight .no {
    color: #647a62 !important;
  }
  /* Name.Constant */
  .highlight .nd {
    color: #8a7859 !important;
  }
  /* Name.Decorator */
  .highlight .ni {
    color: #3095b3 !important;
    font-weight: bold !important;
  }
  /* Name.Entity */
  .highlight .nf {
    color: #648fc0 !important;
    font-weight: bold !important;
  }
  /* Name.Function */
  .highlight .nn {
    color: #647a62 !important;
    font-weight: bold !important;
  }
  /* Name.Namespace */
  .highlight .nt {
    color: #325796 !important;
    font-weight: bold !important;
  }
  /* Name.Tag */
  .highlight .nv {
    color: #8a7859 !important;
  }
  /* Name.Variable */
  .highlight .ow {
    color: #5d0 !important;
    font-weight: bold !important;
  }
  /* Operator.Word */
  .highlight .w {
    color: #ebebeb !important;
  }
  /* Text.Whitespace */
  .highlight .mf {
    color: #3095b3 !important;
  }
  /* Literal.Number.Float */
  .highlight .mh {
    color: #3095b3 !important;
  }
  /* Literal.Number.Hex */
  .highlight .mi {
    color: #3095b3 !important;
  }
  /* Literal.Number.Integer */
  .highlight .mo {
    color: #3095b3 !important;
  }
  /* Literal.Number.Oct */
  .highlight .sb {
    color: #706295 !important;
  }
  /* Literal.String.Backtick */
  .highlight .sc {
    color: #706295 !important;
  }
  /* Literal.String.Char */
  .highlight .sd {
    color: #706295 !important;
    font-style: italic !important;
  }
  /* Literal.String.Doc */
  .highlight .s2 {
    color: #706295 !important;
  }
  /* Literal.String.Double */
  .highlight .se {
    color: #061167 !important;
    font-weight: bold !important;
  }
  /* Literal.String.Escape */
  .highlight .sh {
    color: #706295 !important;
  }
  /* Literal.String.Heredoc */
  .highlight .si {
    color: #25105c !important;
    font-weight: bold !important;
  }
  /* Literal.String.Interpol */
  .highlight .sx {
    color: #706295 !important;
  }
  /* Literal.String.Other */
  .highlight .sr {
    color: #163f9d !important;
  }
  /* Literal.String.Regex */
  .highlight .s1 {
    color: #706295 !important;
  }
  /* Literal.String.Single */
  .highlight .ss {
    color: #3095b3 !important;
  }
  /* Literal.String.Symbol */
  .highlight .bp {
    color: #f55 !important;
  }
  /* Name.Builtin.Pseudo */
  .highlight .vc {
    color: #8a7859 !important;
  }
  /* Name.Variable.Class */
  .highlight .vg {
    color: #8a7859 !important;
  }
  /* Name.Variable.Global */
  .highlight .vi {
    color: #8a7859 !important;
  }
  /* Name.Variable.Instance */
  .highlight .il {
    color: #f66 !important;
  }
  /* Literal.Number.Integer.Long */
}
